# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
introducao-react/node_modules
introducao-react-webpack/node_modules
componentes-react/node_modules
react-hooks/node_modules
user-authentication-api/criacao_backend/node_modules
user-authentication-api/conexao-backend-sql/node_modules

projeto-final-bootcamp-inter
instalacoes
exercicios-portunhol
