# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
introducao-react/node_modules
introducao-react-webpack/node_modules
desenvolvimento-react
instalacoes
exercicios-portunhol
primeiro-desenvolvimento-react
